@import url("https://fonts.googleapis.com/css2?family=Prata&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* this one for navbar  */
a.active hr {
  display: block;
}

/* Hidden the scroll bar */
::-webkit-scrollbar {
  display: none;
}

/* this one for sidebar  */
@media (max-width: 640px) {
  a.active {
    background-color: black;
    color: whitesmoke;
  }
}
